.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container-lab {
    padding-top: 118px;
}

.svg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.collapse-v-enter-active {
    animation: anim-fade-in-v .5s ease-in;
}

.collapse-v-leave-active {
    animation: anim-fade-in-v .5s ease-out reverse;
}

@keyframes anim-fade-in-v {
    0% {
        opacity: 0;
        max-height: 0;
    }
    100% {
        opacity: 1;
        max-height: 600px;
    }
}
